<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background"></div>
  <div class="container">

    <ion-item class="valendo ion-text-center">
      <ion-title>Valendo: {{valendo}}</ion-title>
    </ion-item>
    
  
      <ion-row class="barraDNumeros">
          <ion-col>
            <ion-button  (click)="AdicionarMaisUm()" [fill]="mudaCor()"  size="small">1</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="AdicionarMaisTres()" [fill]="mudaCor()"  size="small">3</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="AdicionarMaisSeis()"  [fill]="mudaCor()"  size="small">6</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="AdicionarMaisNove()"  [fill]="mudaCor()"  size="small">9</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="AdicionarMaisDoze()" [fill]="mudaCor()"  size="small">12</ion-button>
          </ion-col>
        </ion-row>
    
    <ion-row>
      <ion-col size="6" class="column">
        <ion-row class="row-center">
          <ion-button  shape="round" fill="solid" color="tertiary">+</ion-button>
        </ion-row>
  
        <ion-row class="row-center">
          <ion-item>
            <ion-label>{{pontosTime1}}</ion-label>
          </ion-item>
        </ion-row>
  
        <ion-row class="row-center">
          <ion-button shape="round" fill="solid" color="tertiary">-</ion-button>
        </ion-row>
      </ion-col>
  
      <ion-col size="6" class="column">
        <ion-row class="row-center">
          <ion-button (click)="Mais()" shape="round" fill="solid" color="tertiary">+</ion-button>
        </ion-row>
  
        <ion-row class="row-center">
          <ion-item>
            <ion-label>{{pontosTime2}}</ion-label>
          </ion-item>
        </ion-row>
  
        <ion-row class="row-center">
          <ion-button (click)="Menos()" shape="round" fill="solid" color="tertiary">-</ion-button>
        </ion-row>
      </ion-col>
    </ion-row>


    <ion-title class="">Pontos</ion-title>
         <ion-item>
          <ion-badge slot="end">{{time1}}</ion-badge>
           <ion-label for="">Time 1</ion-label>

         </ion-item>

         <ion-item>
          <ion-badge slot="end">{{ time2 }}</ion-badge>
           <ion-label >Time 2</ion-label>
         </ion-item>
      
  
  </div>

 
 
</ion-content>


