* {
  margin: 0;
  padding: 0;
}

.barraDNumeros{
  margin-left: 40px;
}

.numeros{
  padding:4px;
}

.row-center {
  justify-content: center;
}

.column {
  padding: 50px;
  margin-top: 6.0rem;
}

.footer{
  margin-left: 40px;
}
